name: CI
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

permissions:
  contents: read

jobs:
  integration-test:
    name: integration test
    runs-on: ubuntu-latest
    env:
      FORCE_COLOR: 1
    strategy:
      fail-fast: false
      matrix:
        elixirbase:
          - "1.13.4-erlang-24.3.4.2-alpine-3.16.0"
          - "1.13.4-erlang-22.3.4.20-alpine-3.14.0"
          - "1.11.4-erlang-21.3.8.24-alpine-3.13.3"
    steps:
      - uses: earthly/actions-setup@v1
      - uses: actions/checkout@v3
      - name: ecto integration-test under ${{matrix.elixirbase}}
        run: earthly -P --ci --build-arg ELIXIR_BASE=${{matrix.elixirbase}} +integration-test
  unit-test:
    name: unit test
    runs-on: ubuntu-latest
    env:
      FORCE_COLOR: 1
    strategy:
      fail-fast: false
      matrix:
        elixirbase:
          - "1.13.4-erlang-24.3.4.2-alpine-3.16.0"
          - "1.13.4-erlang-22.3.4.20-alpine-3.14.0"
          - "1.11.4-erlang-21.3.8.24-alpine-3.13.3"
    steps:
      - uses: earthly/actions-setup@v1
      - uses: actions/checkout@v3
      - name: ecto test under ${{matrix.elixirbase}}
        run: earthly -P --ci --build-arg ELIXIR_BASE=${{matrix.elixirbase}} +test
  lint:
    name: lint
    runs-on: ubuntu-latest
    env:
      FORCE_COLOR: 1
    strategy:
      fail-fast: false
      matrix:
        elixirbase:
          - "1.13.4-erlang-24.3.4.2-alpine-3.16.0"
    steps:
      - uses: earthly/actions-setup@v1
      - uses: actions/checkout@v3
      - name: ecto lint under ${{matrix.elixirbase}}
        run: earthly -P --ci --build-arg ELIXIR_BASE=${{matrix.elixirbase}} +lint
